<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>just for Test</title>
</head>
<body>
<header th:replace="header::header">
    首部
</header>
<div class="secondary-nav" style="background-color:#fafafa;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li><a th:href= "@{/plans}" >plan</a></li>
                        <li><a th:href="@{/blog/listByUserId/__${user.id}__}" >blog</a></li>
                        <li><a href='#tab3' >analyze</a></li>
                        <li><a href='#tab4' >settings</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

</div>
<div th:unless="${#lists.isEmpty(blogs)}"id ="blog" class="tab-pane container">
    <div class="row">
        <div th:replace="left-side::blog-nav">
            左边栏
        </div>
         <div th:replace="right-side::blog-content">
            右边栏
        </div>

    </div>
</div>


<footer th:replace="footer::footer">
    页面静态底部
</footer>
</body>
</html>