<!DOCTYPE html>
<!--
    User:WangQiang
    Time:2016 11 02
    Description:
-->
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>right side</title>
</head>
<body>
<div th:fragment="right-side" class="col-ml-9">
    <div class="tool-button">
        <button class="btn btn-secondary pull-right">new</button>
        <button class="btn btn-secondary pull-right">add</button>
    </div>
    <div class="blog-area">
        <article>
            霾区生活
            雾霾天里我们无法停止呼吸
            故事新编
            如果古代故事由你重新演绎
            秋天里最好的事情
            聊聊你打开这个秋天的方式
            推荐这篇日记的豆列 · · · · · · ( 全部 )

            304 No Modified
            WEB开发学习
            tony_jane的日记

        </article>
    </div>
</div>
<div th:fragment="blog-content" class="col-md-9">
    <div class="blog-area" id="blog-read-container">
        <article th:text="${blogs[0].content}">
            博客内容
        </article>
    </div>
    <div id="add_blog" style="display:none">
        <form th:action="@{/blog/save}" class="form" role="form" th:object="${blog}" method="post">
            <div class="form-group">
                <label for="blog_title">Blog title</label>
                <input type="text" class="form-control" id="blog_title" th:field="*{title}" name="content"
                       placeholder="article name"/>
                <p th:text="${error}"></p>
            </div>
            <div class="form-group">
                <label for="content">Blog content</label>
                <textarea id="content" th:field="*{content}">

                </textarea>
            </div>
            <button type="submit" class="btn btn-default">提交</button>
        </form>
    </div>
</div>
</body>
</html>